[Desktop Entry]
Type=Application
Name=Tor Browser
Comment=Browse the web over the Tor network
Exec=/usr/local/bin/aegisos-tor-browser %u
Icon=web-browser
Terminal=false
Categories=Network;WebBrowser;Security;
StartupNotify=true
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
