[Unit]
Description=Update system Flatpak applications
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak update --system --noninteractive --assumeyes
Nice=19
IOSchedulingClass=idle
